header {
    border: 1px black;
    font-size: 20px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 50px auto;
    height: 300px;
    width: 80%;
    background-color: black;
}
.underscore {
    border: 1px black;
    font-size: 100px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%;   
}
.rightGuess {
    border: 1px black;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%;   
}
.wrongGuess {
    border: 1px black;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%;   
}
.body {
    background-color: blue;
}